<% turns = turns.to_i %>

Your word is: <%= correct_word %>
<br>
<br>
<%	loop do
		secret_word.each_char do |char| 
			i = secret_word.index(char)
			if letter == char
				correct_word[i] = letter
			end
		end
			if secret_word.include?(letter) %>
			You have guess the correct letter
			<br>
		<% else %>
			Sorry, you have not guessed the correct letter
			<br>
			<% turns = turns - 1 %>
			<br>
			You have <%= turns %> left
			<br>
		<% end %>
		<% guessed_letters = guessed_letters.insert(0, letter) %>

		<br>
		You have guessed the following letters: <%= guessed_letters %>
		<br>
			<% if game_over?(turns) %>
			<br>
				Sorry, you have lost the game.  The word was <%= secret_word %>
				<br>
				<% break %>
			<% elsif win?(secret_word, correct_word) %>
			<br>
				You have won the game!!
				<br>
				<% break %>
			<% else %>
	<br>
	Please enter a letter:

	<form method="post" action="letter_choice">
    <input type="text" name="letter">
    <input type="hidden" name="secret_word" value="<%=secret_word%>">
    <input type="hidden" name="correct_word" value="<%= correct_word%>">
    <input type="hidden" name="turns" value="<%= turns%>">
    <input type="hidden" name="guessed_letters" value="<%= guessed_letters%>">
	<br>
	<br>
	<input type="submit">
	</form>
	<% break %>
			<% end %>
<% end %>