<% turns = turns.to_i %>
<%	loop do
		secret_word.each_char do |char| 
			if letter == char
				i = secret_word.index(char)
				correct_word[i] = letter
			end
		end
			if secret_word.include?(letter) %>
			You have guessed a correct letter
			<br>
		<% else %>
			Sorry, you have not guessed the correct letter
			<br>
			<% turns = turns - 1 %>
			<br>
			You have <%= turns %> left
			<br>
		<% end %>

		<br>
		Your word is: <%= correct_word %>
		<% guessed_letters = guessed_letters.insert(0, letter + ', ') %>
		<br>
		<br>
		You have guessed the following letters: <%= guessed_letters %>
		<br>
			<% if game_over?(turns) %>
			<br>
				Sorry, you have lost the game.  The word was <%= secret_word %>
				<br>
				<% break %>
			<% elsif win?(secret_word, correct_word) %>
			<br>
				You have won the game!!
				<br>
				<% break %>
			<% else %>
	<br>
	Please enter a letter:

	<form method="post" action="letter_choice">
    <input type="text" name="letter">
    <input type="hidden" name="secret_word" value="<%=secret_word%>">
    <input type="hidden" name="correct_word" value="<%= correct_word%>">
    <input type="hidden" name="turns" value="<%= turns%>">
    <input type="hidden" name="guessed_letters" value="<%= guessed_letters%>">
	<br>
	<br>
	<input type="submit">
	</form>
	<% break %>
			<% end %>
<% end %>
<% case turns %>
<% when 10 %>
	 <img src='/img/hangman10.png' height="180" width="200">
<% when 9 %>
	 <img src='/img/hangman9.png' height="180" width="200">
<% when 8 %>
	 <img src='/img/hangman8.png' height="180" width="200">
<% when 7 %>
	 <img src='/img/hangman7.png' height="180" width="200">
<% when 6 %>
	 <img src='/img/hangman6.png' height="180" width="200">
<% when 5 %>
	 <img src='/img/hangman5.png' height="180" width="200">
<% when 4 %>
	 <img src='/img/hangman4.png' height="180" width="200">
<% when 3 %>
	 <img src='img/hangman3.png' height="180" width="200">
<% when 2 %>
	 <img src='/img/hangman2.png' height="180" width="200">
<% when 1 %>
	 <img src='/img/hangman1.png' height="180" width="200">
<% when 0 %>
	 <img src='/img/hangman0.png' height="180" width="200">
<% else %>
	this is not working!
<% end %>